# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
venv/
.env/
.venv/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
Thumbs.db

# Runtime outputs
out.mp4
*.log



# Model weights and large assets
models/
!models/.gitkeep
videos/
!videos/.gitkeep

# Pip cache
pip-wheel-metadata/
*.whl
